@import '@/styles/variables.scss';

.classify {
  display: flex;
  justify-content: center;
  height: 42px;

  li {
    margin: 0 calc($contentSpacing / 2);
    padding-bottom: $contentSpacing;
    cursor: pointer;
    &.active {
      color: #1890ff;
    }
  }
}
