@import '@/styles/variables.scss';

.content {
  display: flex;

  .articleAside {
    margin-left: $contentSpacing;
    width: 300px;

    .articleRecommend {
      width: 100%;
      background: $moduleSecond;
      height: 400px;
    }
  }
}

.widthBorderBottom {
  & > div {
    @include borderWidthShadow(bottom, 1px, $borderColor);
  }
}
