@import '@/styles/variables.scss';

.dietRecord {
  display: flex;
  margin-top: calc($moduleSpacing + $contentSpacing);
  & div {
    flex: 1;
    [class~='ant-divider'] {
      margin-top: calc($contentSpacing / 2);
    }
  }
}
