@import '@/styles/variables.scss';

.articleList {
  display: flex;
  flex-direction: column;
  width: 880px;
  min-height: 400px;
  > li {
    margin-bottom: $contentSpacing;
    h3 {
      margin-bottom: $contentSpacing;
    }
    .tools {
      font-size: 10px;
      color: #7e7a78;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      > span,
      > ul {
        margin-right: $moduleSpacing / 1.4;
        &:nth-child(3) {
          margin-right: calc($contentSpacing / 4);
        }
      }
      span[role='img'] {
        margin-right: calc($contentSpacing / 4);
      }
    }

    .tags {
      display: flex;
    }
    p {
      line-height: 24px;
      margin: calc($contentSpacing / 2) 0;
    }
  }
}
