@import '@/styles/variables.scss';

.wrap {
  margin: 0 auto;
  padding: $moduleSpacing 0;
  width: $contentWidth;
  position: relative;
  &.isDivider {
    padding: calc($moduleSpacing + $contentSpacing) 0;
    // div[class~='ant-divider'] {
    //   padding-bottom: $contentSpacing;
    // }
  }
  > div[class~='ant-divider'] {
    margin: 0;
  }
  > h2 {
    font-size: 20px;
    text-align: center;
    line-height: 1;
  }
}

:export {
  modulePrimary: $modulePrimary;
  moduleSecond: $moduleSecond;
}
